<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Wystąpił błąd: {{ status_text }}</title>
</head>
<body>
<h1>Ups! Napotkano problem</h1>
<h2>Serwer zwrócił błąd: "{{ status_code }} {{ status_text }}".</h2>
</body>
</html>