{% extends "::base.html.twig" %}

{% block title %}{{ parent() }} | Strona główna{% endblock %}

{% block content_inner %}
<div class="row">
    {# STRONA GŁÓWNA -> dodatkowy <nav>bar -> GB | Blog | Drive | Tube#}
    <div class="col-xs-12 col-sm-9 col-md-8">
        <div class="page-header">
            <h1 class="catch-phrase"><small><b class="glyphicon glyphicon-resize-full"></b></small> <small style="color: deeppink;">share</small> <small style="color: dodgerblue;">yourself!</small> <small><b class="glyphicon glyphicon-resize-small"></b></small></h1>
        </div>
    </div>
</div>
<div class="row home-page-container">
    <div class="jumbojumba">
        {# OPIS IDZIE TUTAJ #}
    </div>
</div>
{% endblock %}
