{% extends "::base.html.twig" %}
{% block title %}{{ parent() }} | Strona główna{% endblock %}

{% block content_inner %}
<div class="row">
    {# STRONA GŁÓWNA -> dodatkowy <nav>bar -> GB | Blog | Drive | Tube#}
    <div class="col-xs-12 col-sm-9 col-md-8">
        <div class="page-header">
            <h1 class="catch-phrase">
                <small>
                    <b class="glyphicon glyphicon-resize-full"></b>
                </small>
                <img class="catch-phrase-logo" src="{{ asset('images/catch_phrase.png') }}">
                <small>
                    <b class="glyphicon glyphicon-resize-small"></b>
                </small>
            </h1>
        </div>
    </div>
</div>
{#@TODO dodac sprawdzanie czy zalogowany #}
    <div class="container">

        {% if isLogged == false %}
            {% include 'GitboxCoreBundle:Main:about.html.twig' %}
            <hr>
        {% endif %}

        <div class="row">
            <div class="col-lg-12">
                <div class="well text-center">
                    <h3>Ostatnio dodane</h3>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <h3>GitBlog, ostatnio dodane wpisy:</h3>
            </div>
        </div>
        {% render controller('GitboxCoreBundle:Main:lastCreatedGitBlog') %}

    </div>

    <hr>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>GitTube, ostatnio dodane filmy:</h3>
            </div>
        </div>
        {% render controller('GitboxCoreBundle:Main:lastCreatedGitTube') %}
        <hr>
    </div>

    {% if isLogged %}
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="well text-center">
                        <h3>Najpopularniejsze wpisy</h3>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <h3>GitBlog, najlepiej oceniane wpisy:</h3>
                </div>
            </div>
            {% render controller('GitboxCoreBundle:Main:topGitBlog') %}

            <hr>

            <div class="row">
                <div class="col-lg-12">
                    <h3>GitTube, najlepiej oceniane filmy:</h3>
                </div>
            </div>
            {% render controller('GitboxCoreBundle:Main:topGitTube') %}

            <hr>
        </div>
    {% endif %}
{% endblock %}
