{% extends "::error404.twig" %}

{% block title %}GitboxCoreBundle:Main:index{% endblock %}

{% render controller("GitboxCoreBundle:Default:index", { 'name': 'name'}) %}

{% block body %}
    {#{{ response }}#}
<h1>Welcome to the Main:index page</h1>
{% endblock %}
