{% extends "::base.html.twig" %}
{% block title %}{{ parent() }} | Strona główna{% endblock %}

{% block content_inner %}
<div class="row">
    {# STRONA GŁÓWNA -> dodatkowy <nav>bar -> GB | Blog | Drive | Tube#}
    <div class="col-xs-12 col-sm-9 col-md-8">
        <div class="page-header">
            <h1 class="catch-phrase">
                <small>
                    <b class="glyphicon glyphicon-resize-full"></b>
                </small>
                <img class="catch-phrase-logo" src="{{ asset('images/catch_phrase.png') }}">
                <small>
                    <b class="glyphicon glyphicon-resize-small"></b>
                </small>
            </h1>
        </div>
    </div>
</div>
{#@TODO dodac sprawdzanie czy zalogowany #}
    <div class="container">

        <div class="row">
            <div class="col-lg-8">
                {% include 'GitboxCoreBundle:Main:carousel.html.twig' %}
            </div>
            <div class="col-lg-4">
                <h1>GitBox</h1>
                <p>Przestań, korzystać z tysiąca portali, aby posiadać wszystkie potrzebne Ci narzędzia do kontaktu ze światem! My wiemy, czego potrzebujesz i dostaniesz to od nas.
                <p>
                    Chcesz podzielić się informacjami ze światem? Użyj GitBlog-a!<br/>
                    Chcesz dodawać filmy, bądź samemu je przeglądać? Użyj GitTube-a!<br/>
                    A może po prostu udostępnić pliki, bądź sciągnąć cos ciekawego? Użyj GitDrive-a!
                </p>
                Zostań częścią żyjącej społeczności. Dodawaj, komentuj, ściągaj, oglądaj, polub i wiele, wiele innych :).
                <p>Od nas dla Ciebie, od Ciebie dla innych!</p>
                <p><a class="btn btn-primary btn-lg" href="{{ path('user_register_url') }}">Zarejestruj się teraz!</a></p>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-lg-12">
                <div class="well text-center">
                    <h3>Ostatnio dodane wpisy przez użytkowników GitBox-a</h3>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <h3>GitBlog, ostatnio dodane wpisy:</h3>
            </div>
        </div>

        {% render controller('GitboxCoreBundle:Main:lastCreatedGitBlog') %}

    </div>

    <hr>

    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h3>GitTube, ostatnio dodane filmy:</h3>
            </div>
        </div>

        {% render controller('GitboxCoreBundle:Main:lastCreatedGitTube') %}

        <hr>

    </div>


<hr>
{% endblock %}
