{% extends "::base.html.twig" %}

{% block title %}{{ parent() }} | Strona główna{% endblock %}

<<<<<<< HEAD
{%   render controller('GitboxCoreBundle:Default:index', { 'name': 'bla' }) %}
{% block body %}
    {#{{ response }}#}
<h1>Welcome to the Main:index page</h1>
=======
{% block content_inner %}
<div class="row">
    {# STRONA GŁÓWNA -> dodatkowy <nav>bar -> GB | Blog | Drive | Tube#}
    <div class="col-xs-12 col-sm-9 col-md-8">
        <div class="page-header">
            <h1 class="catch-phrase">
                <small>
                    <b class="glyphicon glyphicon-resize-full"></b>
                </small>
                <img class="catch-phrase-logo" src="{{ asset('images/catch_phrase.png') }}">
                <small>
                    <b class="glyphicon glyphicon-resize-small"></b>
                </small>
            </h1>
        </div>
    </div>
</div>
<div class="row home-page-container">
    <div class="jumbojumba">
        {# OPIS IDZIE TUTAJ #}
    </div>
</div>
>>>>>>> 111d34895d3698cc5a95f117c385a59d3ebb3298
{% endblock %}
