{% extends "::base.html.twig" %}

{% block title %}Registration - Done{% endblock %}

{% block content_inner %}
<h1>Succesfully registrated {{ name }}</h1>
<p class="successRegistration">We will send you email verfication in few minutes!</p>
{% endblock %}
