/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/cache/annotations/*
/app/cache/assetic/*
/app/cache/doctrine/*
/app/cache/profiler/*
/app/cache/twig/*
/app/config/parameters.yml
/app/logs/*
/build/
/vendor/*
/bin/*
/composer.phar
/.idea/*
~*
.buildpath
.project
.settings
.idea
app/logs/*
app/cache/*
app/spool/*
app/bootstrap.*
app/config/parameters.ini
app/config/parameters.yml
vendor/*
web/uploads/*
web/bundles/*
web/css/*
web/images/*
web/js/*
web/media/cache/*
*~