/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/cache/annotations/*
/app/cache/assetic/*
/app/cache/doctrine/*
/app/cache/profiler/*
/app/cache/twig/*
/app/config/parameters.yml
/app/config/parameters.yml.dist
/app/logs/*
/build/
/vendor/*
/bin/*
/composer.phar
/.idea/*
~*
/postgresql-9.3-1100.jdbc4.jar
*~