/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/cache/annotations/*
/app/cache/assetic/*
/app/cache/doctrine/*
/app/cache/profiler/*
/app/cache/twig/*
/app/config/~yml
/app/logs/*
/build/
/vendor/*
/bin/*
/composer.phar
/.idea/*
~*
