<tr>
    <td class="date">{{ result.createDate }}</td>
    <td class="ip">{{ result.ip }}</td>
    <td><button class="btn btn-default" url="{{ path('ip_managment_remove', {'id' : result.id}) }}">Usuń</button></td>
</tr>
