


<ul class="main-menu">
    {% for menux in menuStructure.menus %}
       <li >
           {{  include('GitboxCoreBundle:Drive:menu-sub.html.twig' , {'menuStructure': menux} ) }}
       </li>
    {% endfor %}
    {% for content in contents %}
        <li>
            <a href="{{ path('drive_show_content', {'login': user.login, 'element': content.id }) }}">
                <span class="glyphicon glyphicon-hdd"></span>{{ content.title }}
            </a>
        </li>
    {% endfor %}

</ul>


