{% extends "GitboxCoreBundle:Drive:DriveBase.html.twig" %}

{% block content_inner %}
    <h2>Tytuł</h2>
    <div class="drive-show-description">
        opis opis opis opis
        opis opis opis opis
        opis opis opis opis
        opis opis opis opis
        opis opis opis opis
        opis opis opis opis
        llelllellele
    </div>
    <br>
    <table class="table table-striped">
        <tr>
            <th>plik</th>
            <th>tytuł</th>
            <th>opis</th>
        </tr>
    </table>
{% endblock %}