<<<<<<< HEAD
{% extends "::base.html.twig" %}

{% block title %}Gitbox | Drive {% endblock %}
=======
{% extends "GitboxCoreBundle:Drive:DriveBase.html.twig" %}
>>>>>>> edebbcbf4f89e38663b2ff2b1e4573716c2e1d1e

{% block content_inner %}
    <h2>Tytuł</h2>
    <div class="drive-show-description">
        opis opis opis opis
        opis opis opis opis
        opis opis opis opis
        opis opis opis opis
        opis opis opis opis
        opis opis opis opis
        llelllellele
    </div>
    <br>
    <table class="table table-striped">
<<<<<<< HEAD
        <tr>
            <th>plik</th>
            <th>tytuł</th>
            <th>opis</th>
        </tr>
=======
       <tr>
           <th>plik</th>
           <th>tytuł</th>
           <th>opis</th>
       </tr>
>>>>>>> edebbcbf4f89e38663b2ff2b1e4573716c2e1d1e
    </table>
{% endblock %}