{% extends "GitboxCoreBundle:Drive:DriveShow.html.twig" %}
{% block descpanel %}
{%  endblock %}
{% block tabelpanel %}
    <table class="table table-striped">
        <tr>
            <th>nazwa</th>
            <th>ilość plików</th>
            <th>data utworzenia</th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <td>
                <span class="glyphicon glyphicon-folder-close"></span>test
            </td>
            <td></td>
            <td></td>

        </tr>


    </table>
{% endblock %}
