{% extends "GitboxCoreBundle:Drive:DriveBase.html.twig" %}

{% block content_inner %}
    <div class="row">
        <div class="col-md-4 lp">
            <div class="module-logo-outer">
                <a href="#gitdrive-logo">
                    <img id="gitblog-logo" class="module-logo" src="{{ asset('images/logo/GitDrive_logo.png') }}" >
                </a>
            </div>
            <div>{% block drive_menu %}Menu{% endblock %}</div>
            <div>{% block user_panel %}
                    {# include "GitboxCoreBundle:UserSidebar:render.html.twig" #}
                {% endblock %}
            </div>

        </div>
        <div class="col-md-8">{% block drive_r_panel %}

                    <h2>Tytuł</h2>
                    <div class="drive-show-description">
                        opis opis opis opis
                        opis opis opis opis
                        opis opis opis opis
                        opis opis opis opis
                        opis opis opis opis
                        opis opis opis opis
                        llelllellele
                    </div>
                    <br>
                    <table class="table table-striped">
                        <tr>
                            <th>plik</th>
                            <th>tytuł</th>
                            <th>opis</th>
                        </tr>
                    </table>

            {% endblock %}
        </div>
    </div>
{% endblock %}

