{% extends "::base.html.twig" %}

{% block title %}Gitbox | Drive {% endblock %}

{% block content_inner %}
	<h1>Welcome to the Drive:NewDriveItem page</h1>
    {% include "GitboxCoreBundle:Drive:_form.html.twig" %}
{% endblock %}


