{% extends "GitboxCoreBundle:Tube:layout.html.twig" %}

{% block title %}{% endblock %}

{% block content_inner %}

    <div class="row">
        <div class="col-lg-8">


            {{ form(form) }}


        </div>

        {# USER SIDEBAR #}

    </div>

{% endblock %}

