{% extends "GitboxCoreBundle:Tube:layout.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block title %}{% endblock %}

{% block content_inner %}

    <div class="container">
        <div class="row">
            <div class="col-lg-8">


                {{ form(form) }}


            </div>
            {% if success  %}
                <a href="tube/{{ post.id }}"><button type="button" class="btn btn-info">Poka</button></a>

            {% endif %}
            {# USER SIDEBAR #}

        </div>

    </div>
{% endblock %}

