{% extends "GitboxCoreBundle:Tube:layout.html.twig" %}

{% block body %}
    <h1>Content</h1>
    <div class="thumbnail">
        <img src="http://www.aspenfashionweek.com/2012/wp-content/uploads/2011/10/video-Aspen_Fashion_Week_Preview.png" alt="600x400">
        <div class="caption">
            <h6><a href="">{{ post.title }}</a></h6>
            <p>{{ post.description }}</p>
        </div>
    </div>
    Zawartość?
{% endblock %}
