{% extends "::base.html.twig" %}

{% block title %}{{ parent() }} | O aplikacji{% endblock %}

{% block content_inner %}
    <div class="row home-page-container">
        <div class="module-logo-outer">
            <a href="#gitblog-logo">
                <img id="gitblog-logo" class="module-logo" src="{{ asset('images/logo/GitBlog_logo.png') }}" style="height: 50px;">
            </a>
        </div>
        <p>GitBlog powstał dla użytkowników, którzy chcą podzielić się ze światem swoimi doświadczeniami, uczuciami, opinami, bądź po prostu pokazać się światu.</p>
        <br/>Fajnie brzmi, ale czym on dokładnie jest?
        <br/>Gitblog, to blog, na którym możesz umieszczać swoje wpisy i dzielić się nimi ze światem.
        <br/>Użytkownicy przeglądajcy twoje wpisy, mogą polubić twój wpis, dać "feedback", skomentować.
        <p>Poczuj się jak pisarz i opisz swój świat już teraz!</p>
        <hr>

        <div class="module-logo-outer">
            <a href="#gittube-logo">
                <img id="gittube-logo" class="module-logo" src="{{ asset('images/logo/GitTube_logo.png') }}">
            </a>
        </div>
        <p>GitTube stworzony został z myślą o użytkownikach, którzy lubią dzielić się z innymi poprzez obrazowe podejście do sprawy.</p>
        <p>Tutaj możesz wrzucać swoje własne filmki i pokazać je światu.</p>
        <p>Poczuj się interaktywny i skorzystaj z GitTube już teraz!</p>
        <hr>

        <div class="module-logo-outer">
            <a href="#gitdrive-logo">
                <img id="gitdrive-logo" class="module-logo" src="{{ asset('images/logo/GitDrive_logo.png') }}">
            </a>
        </div>
        <p>GitDrive, twoje miejsce, na twoje pliki.</p>
        <p>Tutaj możesz umieszczać swoje własne pliki na serwerze i udostępniać je użytkowniką.</p>
      </div>
{% endblock %}
