{% extends "::base.html.twig" %}

{% block title %}GitboxCoreBundle:EasyErrorHandler:accountFailActivation{% endblock %}

{% block body %}
<h1>Welcome to the EasyErrorHandler:accountFailActivation page</h1>
{% endblock %}
