.box {
    background-color: #fcfcfc;
}

.avatar-box {
    color: gray;
    text-align: center;
    text-decoration: none;
}

.panel-favourites {
    margin-top: 20px;
}

.fav-header {
    background-color: #fcfcfc;
}

.fav-content {
    border: 1px solid #dddddd;
    border-bottom: none;
}

.fav-last-content {
    border-bottom: 1px solid #dddddd;
}

.content-info {
    position: relative;
}

.content-info-hits {
    position: absolute;
    left: 10px;
    /*margin-right: 20px;*/
}

.content-info-ratings {
    position: absolute;
    right: 0px;
}

.fav-remove-btn {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background-color: #ec6460;
}

.fav-revert-btn {
    background-color: #428bca;
}

.content-item:hover > .row > .content-title > .link-to {
    color: deepskyblue;
}

@media screen and (max-width: 600px) {
    .content-info {
        display: none;
    }

    .col-xs-7 {
        width: 80%;
    }
}

@media screen and (max-width: 725px) {
    .content-info-ratings {
        display: none;
    }

    .col-xs-4 {
        width: 20%;
    }
}

@media (min-width: 768px) {
    .col-sm-4 {
        width: 37.5%;
    }
}

@media (min-width: 992px) {
    .col-md-4 {
        width: 33.33333333333333%;
    }
}

@media (min-width: 1200px) {
    .col-lg-3 {
        width: 30%;
    }
}