

/* videoPlayer css */
.vjs-default-skin { color: #e0eee5; }
.vjs-default-skin .vjs-play-progress,
.vjs-default-skin .vjs-volume-level { background-color: #3965bd }
.vjs-default-skin .vjs-control-bar,
.vjs-default-skin .vjs-big-play-button { background: rgba(3,3,3,0.28) }
.vjs-default-skin .vjs-slider { background: rgba(3,3,3,0.09333333333333334) }

.vjs-default-skin .vjs-control-bar { font-size: 100% }

/*
progresss bar*/

/*
new.html.twig - layout*/
.form-inline .form-group { margin-right:10px; }
.well-primary {
    color: rgb(255, 255, 255);
    background-color: rgb(66, 139, 202);
    border-color: rgb(53, 126, 189);
}
.glyphicon { margin-right:5px; }

/*
show.all - layout*/
a.list-group-item {
    height:auto;
    min-height:220px;
}
a.list-group-item.active small {
    color:#fff;
}
.stars {
    margin:20px auto 1px;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #3071a9;
    border-color: #285e8e;
    width: 120px;
    margin-left: -15px;
}
.btn-primary{
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
    width: 120px;
    margin-left: -15px;
}
.btn-powrot:hover, .btn-powrot:focus, .btn-powrot:active {
    color: #fff;
    background-color: #3071a9;
    border-color: #285e8e;
    width: 140px;

}
.btn-powrot{
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
    width: 140px;
}
