{% extends "::base.html.twig" %}

{% block title %}Rejestracja{% endblock %}

{% block content_inner %}
    <h1>Zarejestrowano użytkownika {{ login }}</h1>
    <p class="successRegistration">Na podany adres email, zostanie wysłany email potwierdziający rejestrację.</p>
{% endblock %}
