{% block user_sidebar %}
    <div class="col-lg-4">
        <div class="avatar-box">
            <a class="no-decoration keep-color" href="{{ path('user_profile_url', {'login': user.login}) }}">
                <img class="pic img-circle" src="{{ 'grucha.net@gmail.com' | getGravatarImage(160)}}" alt="avatar">
                {#TODO : poprawić żeby było user.email zamiast na sztywno#}
                <div class="name">{{ user.login }}</div>
            </a>
            <div class="profile-info">
                <h6><b>Dołączył </b>Wed 23, 04 2014  15:48:48</h6>
                <h6><b>Wejścia </b>123</h6>
                <h6><b>Średnia ocen </b>4.99</h6>
                <h6><b>Ilość postów </b>6</h6>
                {# TODO: ban_date if status == 'B' #}
            </div>
        </div>

        <div class="well">
            <h4>Wyszukaj na blogu użytkownika</h4>
            <div class="input-group">
                <input type="text" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
            </div>
        </div>

        <div class="well">
            <h4>Popularne kategorie</h4>
            <div class="row">
                <div class="col-lg-6">
                    <ul class="list-unstyled">
                        <li><a href="#mama">Mama</a>
                        </li>
                        <li><a href="#tata">Tata</a>
                        </li>
                        <li><a href="#placki">Placki</a>
                        </li>
                        <li><a href="#kacper">Kacper</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <ul class="list-unstyled">
                        <li><a href="#konsole">Konsole</a>
                        </li>
                        <li><a href="#gry-komputerowe">Gry komputerowe</a>
                        </li>
                        <li><a href="#rozrywka">Rozrywka</a>
                        </li>
                        <li><a href="#podróże">Podróże</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}