{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('gitbox/applicationbundle/css/blog.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block sidebar %}
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores doloremque dolorum hic in officiis quam
        repellat reprehenderit sit sunt vero! Fuga impedit iste maiores perspiciatis qui, repellat rerum totam
        voluptatum!
    </div>
    <div>Commodi eligendi impedit nesciunt non quis? A accusantium asperiores atque commodi consequatur, est maiores
        odit, pariatur provident quidem saepe sit sunt tempora, veniam voluptate. Accusamus aut cumque deleniti in
        voluptatum.
    </div>
{% endblock %}